.category {
  display: inline-block;
  border: 1px solid #555;
  transform: rotate(-90deg);
  width: 270px;
  min-height: 50px;
  line-height: 20px;
  margin-top: 110px;
  margin-left: -220px;
  padding-left: 10px;
  border-left: 3px solid #0066ff;
  text-align: left;
  vertical-align: middle;
}
.hse,
.fin,
.log,
.mgm {
  display: inline-block;
  border: 1px solid #555;
  border-bottom: 3px solid #0066ff;
  text-align: center;
  margin-top: 20px;
}
.hse {
  width: 50px;
}
.fin {
  width: 100px;
}
.log {
  width: 450px;
}
.mgm {
  width: 150px;
}

.ctg {
  margin-left: 100px;
}
.stats {
  display: inline-block;
  margin-top: 0;
}
