.header {
  height: 40px;
  width: 100%;
  background-color: #0066ff;
  line-height: 40px;
  color: #fff;
  text-align: left;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.search {
  flex-grow: 1;
  flex-shrink: 1;
  height: 30px;
  color: #fff;
  background-color: #0055ee;
  border: none;
  margin-left: 15%;
  max-width: 30%;
  margin-top: 5px;
}
:placeholder {
  opacity: 1;
  color: #fff;
}
