aside{
  text-align: left;
  margin-top: 5vh;
  width: fit-content;
}
.name {
  text-decoration: none;

}

.option {
  list-style-type: none;
  text-transform: uppercase;
  transition: 0.2s;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.option:hover {
  border-left: 20px solid cyan;
}
